* {
  margin: 0;
  padding: 0;
}



.header {
  height: 110px;
  width: 100%;
  padding-top: 20px;
  background-color: white;
}
.logo {
  font-size: 3.5rem;
  font-weight: 500;
  color: rgba(255, 102, 0, 0.966);
  padding-left: 70px;
  text-decoration: none;

}

.navbar {
  display: inline-block;
  padding-left: 250px;
}


.navbar a {
  
  font-size: 1.5rem;
  text-decoration: none;
  margin: 0 1rem 1rem 1rem;
  color: rgb(0, 0, 0);

}

